{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "no-alert": "off",
    "strict": "off",
    "func-names": ["error", "never"],
    "no-use-before-define": [1, "nofunc"],
    "no-return-assign": 2,
    "no-param-reassign": 0
  }
}
